<div class="modal-header">
    <h5 class="modal-title">{{ title }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">
    <form
        method="post"
        hx-post="{% url 'stockmovement_create' %}"
        hx-target="#movements-table"
        hx-swap="outerHTML"
    >
        {% csrf_token %}
        {{ form.as_p }}

        <div class="mt-3 d-flex justify-content-end" style="gap: 10px;">
            <button class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
    </form>
</div>