<table class="table table-striped">
    <thead class="table-danger">
        <tr>
            <th>Producto</th>
            <th>Mínimo</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        {% if low_stock %}
            {% for item in low_stock %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.min_stock }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3" class="text-center">No hay productos bajo mínimo.</td>
            </tr>
        {% endif %}
    </tbody>
</table>