<div x-data x-transition>
    <div class="row mb-4">
        <div class="col-md-3">
            <div class="card text-bg-primary mb-3">
                <div class="card-body">
                    <h5 class="card-title">Productos</h5>
                    <p class="card-text fs-3">{{ total_products }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">Stock Total</h5>
                    <p class="card-text fs-3">{{ total_stock }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-bg-warning mb-3">
                <div class="card-body">
                    <h5 class="card-title">Proveedores</h5>
                    <p class="card-text fs-3">{{ total_suppliers }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-bg-danger mb-3">
                <div class="card-body">
                    <h5 class="card-title">Bajo Mínimo</h5>
                    <p class="card-text fs-3">{{ low_stock_count }}</p>
                </div>
            </div>
        </div>
    </div>
</div>