<div class="row g-3">

    <div class="col-md-6">
        <div class="card text-bg-primary">
            <div class="card-body text-center">
                <h5>Productos</h5>
                <p class="fs-3">{{ total_products }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card text-bg-success">
            <div class="card-body text-center">
                <h5>Stock Total</h5>
                <p class="fs-3">{{ total_stock }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card text-bg-warning">
            <div class="card-body text-center">
                <h5>Proveedores</h5>
                <p class="fs-3">{{ total_suppliers }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card text-bg-danger">
            <div class="card-body text-center">
                <h5>Bajo Mínimo</h5>
                <p class="fs-3">{{ low_stock_count }}</p>
            </div>
        </div>
    </div>

</div>