<div class="row g-3">

    <div class="col-md-6">
        <div class="card text-bg-primary">
            <div class="card-body text-center">
                <h5>Unidades en stock</h5>
                <p class="fs-3">{{ total_units }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card text-bg-success">
            <div class="card-body text-center">
                <h5>Valor inventario</h5>
                <p class="fs-3">{{ inventory_value|floatformat:2 }} €</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card text-bg-warning">
            <div class="card-body text-center">
                <h5>Pedidos pendientes</h5>
                <p class="fs-3">{{ pending_orders }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card text-bg-danger">
            <div class="card-body text-center">
                <h5>Productos en riesgo</h5>
                <p class="fs-3">{{ product_risk_count }}</p>
            </div>
        </div>
    </div>

</div>