<div class="row g-3 mt-1">
    <div class="col-12">
        <div class="card card-section" data-section="low-stock">
            <div class="card-header section-header bg-danger text-white">
                <span>Productos Bajo Mínimo</span>
                <span class="toggle-arrow arrow-up"></span>
            </div>

            <div id="low-stock-container"
                 class="card-body section-content compact-table"
                 hx-get="{% url 'dashboard_low_stock' %}"
                 hx-trigger="load once, inventory:refresh from:body"
                 hx-target="this"
                 hx-swap="innerHTML">
            </div>
        </div>
    </div>
</div>